{% extends "layout.html" %}
{% block title %}Trello ToDo{% endblock %}
{% block content %}
  <div class="col-md-4">
    <h2>Create a New ToDo</h2>
    <form action="/additem" method="post">
        <label for="name">ToDo Title:</label>
        <input type="text" id="new_name" name="new_name">
          <button type="submit">Add</button>
    </form>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h2>ToDo</h2>
      <ul class="list-group mb-12">
        {% for tditem in list_todo %}
       <p class="list-group-item list-group-item-action"> {{tditem.name}}<a class="btn btn-outline-info" href="/m_todoing/{{tditem.item_id}}" type="submit">Doing</a><a class="btn btn-outline-info" href="/m_todone/{{tditem.item_id}}" type="submit">Done</a><a class="btn btn-outline-info" href="/m_tobye/{{tditem.id}}" type="submit">Bye</a></p></ul>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-4">
      <h2>Doing</h2>
      <ul class="list-group mb-12">
        {% for tditem in list_doing %}
          <p class="list-group-item list-group-item-action"> {{tditem.name}}<a class="btn btn-outline-info" href="/m_todo/{{tditem.id}}" type="submit">To Do</a><a class="btn btn-outline-info" href="/m_todone/{{tditem.id}}" type="submit">Done</a><a class="btn btn-outline-info" href="/m_tobye/{{tditem.id}}" type="submit">Bye</a></p>
        {% endfor %}
      </ul>
    </div>
    <div class="col-md-4">
      <h2>Done</h2>
      <ul class="list-group mb-12">
        {% for tditem in list_done %}
          <p class="list-group-item list-group-item-action"> {{tditem.name}}<a class="btn btn-outline-info" href="/m_todo/{{tditem.id}}" type="submit">To Do</a><a class="btn btn-outline-info" href="/m_todoing/{{tditem.id}}" type="submit">Doing</a><a class="btn btn-outline-info" href="/m_tobye/{{tditem.id}}" type="submit">Bye</a></p>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}